# Bonsai installation
.bonsai/Extensions
.bonsai/Gallery
.bonsai/Packages
.bonsai/Bonsai.exe*

VisStimMachine/.bonsai/Packages/
VisStimMachine/.bonsai/Extensions
VisStimMachine/.bonsai/Gallery
VisStimMachine/.bonsai/Bonsai.exe*
Workflows/obj/
VisStimMachine/Workflows/obj/
